<div class="about-section">
  <div class="about-grid">

    <div class="photo-col">
      <img src="me.jpg" alt="Profile" class="profile-pic" />
    </div>

    <!-- Right info -->
    <div class="info-col">
      <h1 class="name">Hi, I'm Kirti Sahu</h1>
      <h1 class="title">Software Developer</h1>
      <p class="tagline">Turning ideas into scalable web applications 🚀</p>

      <p class="about-text">
        I am a Software Developer with <b>3+ years of experience</b> in designing,
        developing, and deploying scalable web applications. Skilled in
        <b>Angular (13+ to latest)</b>, <b>Angular Material</b>, <b>Node.js</b>,
        <b>Express.js</b>, <b>MariaDB</b>, <b>MySQL</b>, and <b>MSSQL</b>.
        Passionate about building <b>user-centric solutions</b> and contributing to impactful projects.
      </p>

      <!-- Buttons -->
      <div class="cta-buttons">
        <a mat-raised-button class="btn-resume" href="Kirti_Sahu_Resume.pdf" target="_blank">
          <mat-icon>description</mat-icon>
          Download Resume
        </a>

        <a mat-stroked-button class="btn-hire"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=kirtisahu178@gmail.com&su=Job%20Offer%20for%20Software%20Developer%20Position&body=Dear%20Kirti%2C%0A%0AWe%20are%20pleased%20to%20offer%20you%20the%20position%20of%20Frontend%20Developer%20at%20our%20organization.%0A%0AYour%20expected%20joining%20date%20will%20be%20__________.%0AProposed%20salary%20package%3A%20Rs.%20__________%20per%20month.%0A%0AKindly%20confirm%20your%20acceptance%20of%20this%20offer%20by%20replying%20to%20this%20email.%0A%0AWe%20look%20forward%20to%20working%20with%20you.%0A%0ABest%20Regards%2C%0A[Your%20Name]%0A[Your%20Company%20Name]%0A[Your%20Contact%20Details]"
          target="_blank" rel="noopener noreferrer">
          <mat-icon>work</mat-icon>
          Offer Letter
        </a>
      </div>

    </div>

  </div>