.project-section {
  padding: 1.5rem;
  border-radius: 16px;

  h1.section-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0 0 2rem 0;

    @media (max-width: 1024px) { font-size: 3rem; }
    @media (max-width: 768px) { font-size: 2.5rem; margin-bottom: 1.5rem; }
    @media (max-width: 480px) { font-size: 2rem; margin-bottom: 1rem; }
    @media (max-width: 360px) { font-size: 1.8rem; }
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 2rem;
    margin-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
    // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover { transform: translateY(-3px); }

    .project-image-wrapper {
      align-self: start;
      height: 300px;
      overflow: hidden;

      .project-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }

      @media (max-width: 1024px) { height: auto; overflow: visible; }
      @media (max-width: 768px) { height: auto; overflow: visible; }
      @media (max-width: 480px) { height: auto; }
    }

    .project-info {
      padding: 0 1.5rem;
      display: grid;
      grid-template-rows: auto auto auto auto;
      gap: 0.2rem;

      /* Project Title */
      .project-title {
        font-weight: 800;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-size: 2.5rem;

        @media (max-width: 1024px) { font-size: 2rem; }
        @media (max-width: 768px) { font-size: 1.5rem; }
        @media (max-width: 480px) { font-size: 1.2rem; }
        @media (max-width: 360px) { font-size: 1rem; }
        margin: 0;
      }

      /* Project Description */
      .project-description {
        line-height: 1.5;
        text-align: justify;
        font-size: 1rem;

        @media (max-width: 1024px) { font-size: 0.95rem; }
        @media (max-width: 768px) { font-size: 0.9rem; }
        @media (max-width: 480px) { font-size: 0.85rem; }
        @media (max-width: 360px) { font-size: 0.8rem; }
      }

      /* Project Tech */
      .project-tech {
        font-size: 0.9rem;

        @media (max-width: 1024px) { font-size: 0.85rem; }
        @media (max-width: 768px) { font-size: 0.8rem; }
        @media (max-width: 480px) { font-size: 0.75rem; }
        @media (max-width: 360px) { font-size: 0.7rem; }
      }

      /* Project Actions */
      .project-actions {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        .btn-demo,
        .btn-view-code,
        .confidential-tag,
        .offline-tag {
          border-radius: 8px !important;
          font-size: 0.85rem;

          @media (max-width: 1024px) { font-size: 0.8rem; }
          @media (max-width: 768px) { font-size: 0.75rem; }
          @media (max-width: 480px) { font-size: 0.7rem; }
          @media (max-width: 360px) { font-size: 0.65rem; }
        }

        .confidential-tag,
        .offline-tag {
          font-weight: 600;
          padding: 10px;
        }
      }

      @media (max-width: 768px) { padding: 1rem; }
      @media (max-width: 480px) { padding: 0; }
    }

    @media (max-width: 1024px) {
      padding: 1.8rem;
      grid-template-columns: 1fr 1.5fr;
    }

    @media (max-width: 768px) { grid-template-columns: 1fr; }
    @media (max-width: 480px) { padding: 1.2rem; border-radius: 16px; }
    @media (max-width: 360px) { padding: 1rem; }
  }

  @media (max-width: 480px) { padding: 1rem; }
  @media (max-width: 360px) { padding: 1rem; }
}
