.project-section {
  padding: 2rem;
  border-radius: 16px;
  display: grid;
  gap: 2rem;

  h1.section-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0;

    @media (max-width: 1024px) {
      font-size: 3rem;
    }

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr; // 2 columns: image | info
    padding: 2rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-3px);
    }

    .project-image-wrapper {
      align-self: start;
      height: 300px;
      overflow: hidden;

      .project-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }

      @media (max-width: 1024px) {
        height: auto;
        overflow: visible;
      }

      @media (max-width: 768px) {
        height: auto;
        overflow: visible;
      }

      @media (max-width: 480px) {
        height: auto;
      }
    }

    .project-info {
      padding: 0 1.5rem;
      display: grid;
      grid-template-rows: auto auto auto auto;
      gap: 0.2rem;

      .project-title {
        font-weight: 800;
        font-size: 2.5rem;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 2rem;
        }

        @media (max-width: 480px) {
          font-size: 1.8rem;
        }
      }

      .project-description {
        line-height: 1.5;
        text-align: justify;
        // color: #333;

        @media (max-width: 480px) {
          font-size: 0.95rem;
        }
      }

      .project-tech {
        font-size: 0.9rem;
        // color: #555;
      }

      .project-actions {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
      }

      .btn-demo,
      .btn-view-code {
        border-radius: 8px !important;
      }

      .confidential-tag,
      .offline-tag {
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 8px !important;
        padding: 10px;
      }

      @media (max-width: 768px) {
        padding: 1rem;
      }
    }

    /* --- Responsive Layout Adjustments --- */
    @media (max-width: 1024px) {
      padding: 1.8rem;
      grid-template-columns: 1fr 1.5fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; // stack vertically
    }

    @media (max-width: 480px) {
      padding: 1.2rem;
      border-radius: 16px;
    }

    @media (max-width: 360px) {
      padding: 1rem;
    }
  }
}