<app-layered-bg-layout>
  <div class="portfolio-container">
    <mat-toolbar class="sticky-toolbar">
      <span class="portfolio-title">Kirti</span><span class="portfolio-lastname">Sahu</span>

      <span class="spacer hide-xs"></span>

      <nav class="navbar hide-xs">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
          @if (isActive('/')) {
          <mat-icon>home</mat-icon>
          }
          About
        </a>

        <a routerLink="/skills" routerLinkActive="active-link">
          @if (isActive('/skills')) {
          <mat-icon>auto_awesome</mat-icon>
          }
          Skills
        </a>

        <a routerLink="/experience" routerLinkActive="active-link">
          @if (isActive('/experience')) {
          <mat-icon>rocket_launch</mat-icon>
          }
          Experience
        </a>

        <a routerLink="/projects" routerLinkActive="active-link">
          @if (isActive('/projects')) {
          <mat-icon>extension</mat-icon>
          }
          Projects
        </a>

        <a routerLink="/education" routerLinkActive="active-link">
          @if (isActive('/education')) {
          <mat-icon>school</mat-icon>
          }
          Education
        </a>

        <a routerLink="/publication" routerLinkActive="active-link">
          @if (isActive('/publication')) {
          <mat-icon>import_contacts</mat-icon>
          }
          Publication
        </a>
        <a routerLink="/contact" routerLinkActive="active-link">
          @if (isActive('/contact')) {
          <mat-icon>mail</mat-icon>
          }
          Contact
        </a>
      </nav>

      <span class="spacer"></span>

      <div class="icon-section">
        <div class="icon-group">
          <a href="https://linkedin.com/in/kirti-sahu-355a681b7" target="_blank" rel="noopener" mat-icon-button
            class="social-icon-btn">
            <img src="linkedin.png" alt="LinkedIn" class="linkedin-icon" />
          </a>

          <a href="https://github.com/kirtisahu178" target="_blank" rel="noopener" mat-icon-button
            class="social-icon-btn">
            <img src="github.png" alt="GitHub" class="github-icon" />
          </a>

          <button mat-icon-button (click)="toggleDarkMode()" class="social-icon-btn">
            <mat-icon [matTooltip]="isDarkMode ? 'Switch to Light Mode' : 'Switch to Dark Mode'" class="moon-icon">
              {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
            </mat-icon>
          </button>

          <button mat-icon-button [mat-menu-trigger-for]="selectTheme" class="social-icon-btn">
            <mat-icon matTooltip="Select a theme" class="fill-icon">format_color_fill</mat-icon>
          </button>
        </div>
      </div>

      <span class="spacer hide-gt-xs"></span>

      <div class="hide-gt-xs" [mat-menu-trigger-for]="hamburgerMenu">
        <mat-icon class="hamburger-icon">menu</mat-icon>
      </div>
    </mat-toolbar>

    <mat-menu x-position="before" #hamburgerMenu="matMenu">
      <a mat-menu-item class="nav-menu-item" routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon class="nav-menu-icon">home</mat-icon>
        <span>About</span>
      </a>

      <a mat-menu-item class="nav-menu-item" routerLink="/skills" routerLinkActive="active-link">
        <mat-icon class="nav-menu-icon">auto_awesome</mat-icon>
        <span>Skills</span>
      </a>

      <a mat-menu-item class="nav-menu-item" routerLink="/experience" routerLinkActive="active-link">
        <mat-icon class="nav-menu-icon">rocket_launch</mat-icon>
        <span>Experience</span>
      </a>

      <a mat-menu-item class="nav-menu-item" routerLink="/projects" routerLinkActive="active-link">
        <mat-icon class="nav-menu-icon">extension</mat-icon>
        <span>Projects</span>
      </a>

      <a mat-menu-item class="nav-menu-item" routerLink="/education" routerLinkActive="active-link">
        <mat-icon class="nav-menu-icon">school</mat-icon>
        <span>Education</span>
      </a>

      <a mat-menu-item class="nav-menu-item" routerLink="/publication" routerLinkActive="active-link">
        <mat-icon class="nav-menu-icon">import_contacts</mat-icon>
        <span>Publication</span>
      </a>

      <a mat-menu-item class="nav-menu-item" routerLink="/contact" routerLinkActive="active-link">
        <mat-icon class="nav-menu-icon">mail</mat-icon>
        <span>Contact</span>
      </a>
    </mat-menu>


    <mat-menu x-position="before" #selectTheme="matMenu">
      <div class="theme-grid">
        @for (theme of themes; track theme) {
        <div class="theme-item">
          <button mat-button (click)="applyTheme(theme.themeName)" class="theme-button">
            <div class="theme-preview">
              <div class="theme-preview-icon" [ngStyle]="{
                                        '--bg-color': isDarkMode ? theme.bgDark : theme.bgLight, 
                                        '--tool-cont': isDarkMode ? theme.toolContDark : theme.toolContLight, 
                                        '--mini-text': isDarkMode ? theme.miniTextDark : theme.miniTextLight, 
                                        '--head-btn': isDarkMode ? theme.headBtnDark : theme.headBtnLight, 
                                        '--para': isDarkMode ? '#fff' : '#333'}">
                <div class="toolbar">
                  <div class="mini-text">KirtiSahu</div>
                  <!-- <div class="menu1"></div> -->
                </div>
                <div class="content">
                  <div class="mimage"></div>
                  <div class="heading1"></div>
                  <div class="para1"></div>
                  <div class="para2"></div>
                  <div class="para3"></div>
                  <div class="btn1"></div>
                  <div class="btn2"></div>
                </div>
              </div>
              <span class="theme-label">{{ theme.label }}</span>
            </div>
          </button>
        </div>
        }
      </div>
    </mat-menu>

    <div class="main-content">
      <!-- <div id="particle-layer"></div> -->
      <router-outlet></router-outlet>
    </div>

    <footer>
      <p>Designed & developed with devotion 💙 — © 2026 Kirti Sahu</p>
    </footer>
  </div>
</app-layered-bg-layout>

<ngx-ui-loader fgsType="three-strings" fgsColor="#fff" overlayColor="#2232884f" [hasProgressBar]="false"
  text="Please wait..." textColor="#fff">
  <div ngxUiLoaderBlurred [blur]="2"></div>
</ngx-ui-loader>