<div class="grid-container">

  <div class="education-section">
    <h1 class="section-title">Education</h1>
    @for (edu of education; track edu; let isLast = $last) {
      <div class="edu-item">
        <img [src]="edu.logo" class="edu-logo" alt="University Logo" />
        <div class="edu-info">
          <h3 class="university-name">{{ edu.university }}</h3>
          <p class="degree">{{ edu.degree }}</p>
          <p class="duration">{{ edu.duration }}</p>
        </div>
      </div>
    }
  </div>

  <app-certificates></app-certificates>
</div>
