.skills-section {
  padding: 1.5rem;
  border-radius: 16px;
  margin-bottom: 1rem;

  .skill-search-field {
    width: 100%;
    max-width: 420px;
  }

  .custom-outline {
    --mat-form-field-outlined-outline-width: 2px;
    --mat-form-field-outlined-outline-color: var(--theme-primary-35);
  }

  mat-label {
    color: var(--theme-primary-35);
    font-weight: 500;
  }

  mat-form-field.custom-field-height {
    --mat-form-field-container-height: 45px;
    --mat-form-field-container-vertical-padding: 10px;
    --mat-form-field-outlined-container-shape: 8px !important;
    --mat-form-field-outlined-focus-outline-color: var(--theme-primary-35);
  }

  .search-meta {
    margin-top: -10px;
  }



  h1.section-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin: 0 0 2rem 0;

    @media (max-width: 1024px) { font-size: 3rem; }
    @media (max-width: 768px) { font-size: 2.5rem; margin-bottom: 1.5rem; }
    @media (max-width: 480px) { font-size: 2rem; margin-bottom: 1rem; }
    @media (max-width: 360px) { font-size: 1.8rem; }
  }

  .section-subtitle, .search-meta {
    font-size: 1.1rem;
    line-height: 1.6;

    @media (max-width: 480px) { font-size: 1rem; }
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    place-items: center;

    @media (max-width: 1024px) { place-items: start; }
    @media (max-width: 480px) { grid-template-columns: 1fr; gap: 1rem; }
  }

  .skill-wrapper {
    position: relative;
    width: 350px;
    height: 250px;

    @media (max-width: 1024px) { width: 260px; height: 210px; }
    @media (max-width: 768px) { width: 240px; height: 200px; }
    @media (max-width: 480px) { width: 100%;  }
  }

  .icon-card {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 16px;
    padding: 5px;

    .skill-icon {
      font-size: 25px;
      height: 32px;
      width: 32px;
      color: #fff;

      @media (max-width: 360px) { font-size: 22px; }
    }

      @media (max-width: 360px) { width: 40px; height: 40px; border-radius: 12px; }
  }

  .skill-card {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 320px;
    height: 200px;
    border-radius: 16px;
    padding: 16px;
    transition: transform 0.3s ease;

    &:hover { transform: translateY(-4px); }

    .card-header {
      padding: 0 10px !important;
      height: auto !important;
      margin-top: 20px;
    }

    .card-title {
      font-size: 20px;
      font-weight: 800;
      line-height: 1.3;
      margin: 0;

      @media (max-width: 1024px) { font-size: 18px; }
      @media (max-width: 480px) { font-size: 16px; }
      @media (max-width: 360px) { font-size: 15px; }
    }

    .card-content-area {
      padding: 0 10px !important;
      font-size: 14px;
      line-height: 1.6;

      @media (max-width: 768px) { font-size: 13px; }
      @media (max-width: 480px) { font-size: 12.5px; }
      @media (max-width: 360px) { font-size: 12px; }
    }

    @media (max-width: 1024px) { width: 260px; padding: 5px; }
    @media (max-width: 768px) { width: 290px; height: 180px;}
    @media (max-width: 480px) { width: 280px; height: 180px; }
    @media (max-width: 360px) { top: 22px; left: 22px; width: 220px; height: 180px; }
  }

  @media (max-width: 768px) { padding: 1.5rem; }
  @media (max-width: 480px) { padding: 1rem; }
}
