<div class="experience-section">
  <h1 class="section-title">Experience</h1>

  <p class="section-subtitle">
    Instantly filter my experience by company, role, or technology — powered by Angular Signals.
  </p>

  <mat-form-field appearance="outline" class="experience-search-field custom-outline custom-field-height">
    <mat-label>Search experiences</mat-label>
    <input matInput placeholder="Angular, NIC, Node.js..." (input)="searchExp.set($any($event.target).value)" />
  </mat-form-field>

  <p class="search-meta">
    Showing {{ filteredExperiences().length }} result(s)
  </p>


  <div class="experience-grid">
    <div class="exp-left">
      @for (exp of filteredExperiences(); track exp; let i = $index) {
      <div class="experience-card" [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }">
        <div class="exp-header">
          <img [src]="exp.logo" class="company-logo" alt="{{exp.company}}" />
          <div class="company-details">
            <h3 class="company-name">{{ exp.company }}</h3>
            <!-- <p class="company-meta">{{ exp.type }} · {{ exp.duration }}</p> -->
            <p class="company-meta">
              {{ exp.startDate | date:'MMM yyyy' }} –
              {{ exp.endDate ? (exp.endDate | date:'MMM yyyy') : 'Present' }} ·
              {{ getDuration(exp.startDate, exp.endDate) }}
            </p>

            <p class="company-location">{{ exp.location }}</p>
          </div>
        </div>
        @for (role of exp.roles; track role) {
        <div class="role-detail">
          <h4 class="role-title">{{ role.title }}</h4>
          <p class="role-desc">{{ role.description }}</p>
        </div>
        }
      </div>
      }
    </div>

    <div class="exp-right">
      <div class="responsibility-card">
        <h3 class="res-title">Key Responsibilities</h3>
        <ul class="res-list">
          @for (item of responsibilities(); track item) {
          <li>{{ item }}</li>
          }
        </ul>

        <h3 class="tech-title">Technologies I Use</h3>
        <div class="tech-tags">
          @for (tech of techStack; track tech.name) {
          <mat-chip-set>
            <mat-chip>
              <img matChipAvatar [src]="tech.icon" [alt]="tech.name" />
              {{ tech.name }}
            </mat-chip>
          </mat-chip-set>
          }
        </div>
      </div>
    </div>
  </div>
</div>